{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block extrahead %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{{ block.super }}
{% endblock %}

{% block after_field_sets %}
<div id="store-map-container" class="store-map-container" style="margin-top: 1em;"
     data-latitude="{{ store_map_context.latitude|default:'' }}"
     data-longitude="{{ store_map_context.longitude|default:'' }}"
     data-delivery-radius-km="{{ store_map_context.delivery_radius_km|default:'' }}"
     data-address-id="{{ store_map_context.address_id|default:'' }}"
     data-address-coordinates-url="{{ store_map_context.address_coordinates_url|default:'' }}">
  <div id="store-map" style="width: 100%; height: 400px; min-height: 400px;"></div>
  <p class="help">Карта центра доставки и радиуса. Обновляется при смене адреса и радиуса доставки.</p>
</div>
{% endblock %}
